{
  "presets": [
    "@babel/preset-react",
    "@babel/typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": true
        },
        "loose": true
      }
    ]
  ],
  "plugins": [
    "lodash",
    [
      "css-modules-transform",
      {
        "generateScopedName": "[folder]__[local]"
      }
    ]
  ]
}
