.toolTitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  color: #1D1D2B;
  padding-top: 20px;
  padding-bottom: 20px;
  align-self: center;
}

.mainTitle {
  font-size: 20px;
}

.regularTitle {
  font-size: 20px;
}