.listContainer {
  display: flex;
  overflow-x: auto;
  /* box-shadow: -8px 0 4px -2px rgba(65, 114, 159, 0.05), 8px 0px 4px -2px rgba(65, 114, 159,0.05); */
}

.listEntry {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 15px;
  max-width: 250px;
}

/* .glossaryContainer:first-child {
  padding-left: 10;
} */
