@value colors: "./components/variables/colors.css";
@value midnight_blue from colors;

.baseContainer {
  display: flex;
  width: 100%;
}

.appContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* url */

.urlInputContainer {
  display: flex;
}

.inputContainer {
  display: flex;
  flex-basis: 70%;
}

.generateButtonContainer {
  display: flex;
  flex: 1;
  justify-content: end;
}

/* basic section */
.basicSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.basicLowerSection {
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
}

.imageContainer {
  composes: baseContainer;
  flex-basis: 30%;
  justify-content: center;
}

.contentImage {
  /* max-width: 100%; */
  width: 256px;
  height: 256px;
  border-radius: 15%;
  align-self: center;
}

.basicLowerSectionContent {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 30px;
}

.basicLowerSectionContent :first-child {
  margin-bottom: 20px;
}

/* basic section */
.detailedSummarySection {
  display: flex;
  flex-direction: column;
}

.exportButtonContainer {
  composes: baseContainer;
  justify-content: center;
}

.followUpsContainer {
  composes: baseContainer;
}

.assessmentsContainer {
  composes: baseContainer;
}

.keyPhrasesContainer {
  composes: baseContainer;
}

.faqContainer {
  composes: baseContainer;
}

.funFactsContainer {
  composes: baseContainer;
}

.appContainer div > label > span[class*="title"] {
  color: midnight_blue;
}

.appContainer div[class*="coorpmanager"][class*="disabled"] {
  /* color: midnight_blue; */
  opacity: 1;
}

.spinnerContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 270px;
}

.spinner {
  width: 200px;
  height: 200px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: midnight_blue #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
     transform: rotate(1turn);
  }
}

/* common */
.loading {
  font-size: 84px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  text-align: center;
}
.loading span {
  display: inline-block;
  margin: 0 -.05em;
}

/* code #1 */
.loading01 span {
  animation: loading01 1.4s infinite alternate;
}
.loading01 span:nth-child(1) {
  animation-delay: 0s;
}
.loading01 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading01 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading01 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading01 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading01 span:nth-child(6) {
  animation-delay: 0.5s;
}
@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
