.appContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* url */

.urlInputContainer {
  display: flex;
}

.inputWrapper {
  display: flex;
  flex-basis: 70%;
}

.generateButtonWrapper {
  display: flex;
  flex: 1;
  justify-content: end;
}

/* basic section */
.basicSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.basicLowerSection {
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
}

.imageWrapper {
  max-width: 100%;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
}

.contentImage {
  /* max-width: 100%; */
  width: 256px;
  height: 256px;
  border-radius: 15%;
  align-self: center;
}

.basicLowerSectionContent {
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-left: 30px;
}

/* basic section */
.detailedSummarySection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
